@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .dark {
    @apply bg-gray-800 text-zinc-100
  }

  .selected{
    @apply bg-blue-500 rounded
  }
}

:root {
  --selection-width: 0;
}

.range-audio {
  margin: auto;
  outline: none;
  padding: 0;
  width: 100%;
  height: 4px;
  background-color: #dedede;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none; 
  position: relative;
  z-index: 3;
}

.range-audio::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}


.range-audio::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border: 0;
  background: rgb(68, 122, 239);
  border-radius: 50%;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
  -webkit-appearance: none;
  box-sizing: border-box;
}

.range-audio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: var(--selection-width);;
  background: rgb(68, 122, 239);
  z-index: -1;
  border-radius: 10px;
}

.range-volume{
  margin: auto;
  outline: none;
  padding: 0;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.bg-player{
  background-image: url('../public/bgmedia.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* Loading */
.circle{
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(68, 122, 239);
  left: 15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle {
  0%{
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top: 0;
  }
}

.circle:nth-child(2){
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3){
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadows{
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadows .5s alternate infinite ease;
}

@keyframes shadows {
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .2;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}

.shadows:nth-child(4){
  left: 45%;
  animation-delay: .2s;
}

.shadows:nth-child(5){
  left: auto;
  right: 15%;
  animation-delay: .5s;
}

.wrapper{
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper span{
  position: absolute;
  top: 75px;
  font-size: 20px;
  letter-spacing: 12px;
  color: rgb(68, 122, 239);
  left: 15%;
}